/* YourStyles.css */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3490dc;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2779bd;
}

.shiny-border-design {
    border-radius: 32% 68% 74% 26% / 20% 65% 35% 80%;
    border-top: solid 8px;
    border-bottom: solid 8px;
    border-color: rgba(22, 105, 99, 1);
}
.custom-button {
    width: 262px;
    height: 62px;
    padding: 22px 40px;
    border-radius: 20px;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(105, 113, 162, 0.4) 0%, rgba(39, 42, 60, 0.5) 100%);
    background: linear-gradient(90deg, #161A31 3.4%, #06091F 100%);
    color: white;
    text-align: center;
    opacity: 1;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    letter-spacing: -0.47999998927116394px;
    text-align: center;
}